@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding: 0;
	background: url(img/backgrownd.png) top center no-repeat;
	background-color: #000;
	font-family: Arial, sans-serif;
}
section, article, header, footer, aside, hgroup, nav{
	display:block;
}
#container{
	display: block;
	width: 1200px;
	height: auto;
	margin:0 auto;
}
#topo{
	display: block;
	width: 1200px;
	height: auto;
}
#logotipo{
	display: block;
	width: 825px;
	background: rgba(255,255,255,0.5);
	margin-left: 230px;
}
#menu{
	display: block;
	width: 216px;
	position: fixed;
	top:90px;
}
#menu img{
	display: block;
	padding: 0px;
	margin:0px;
}
#menu ol{
	margin: 0px;
	padding: 0px;
}
#menu ol li{
	list-style: none;
}
#menu ol li a, #menu ol li a:link, #menu ol li a:visited{
	display: block;
	width: 207px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: #000 1px solid;
	text-decoration: none;
	color: #000;
	background: #ffffff url(img/bloquinho.png) 0 0 no-repeat;
	background-position: -207px 0;
	transition: background .15s ease, color .25s ease-in;
}
#menu ol li a:hover{
	background-position: 0 0;
	color: #FFF;
}
#conteudo{
	display: block;
	width: 830px;
	margin-top: 30px;
	padding-top: 10px;
	margin-left: 230px;
	background: rgba(255,255,255,0.8);
}
#conteudo header{
	display: block;
	width: 830px;
	color:#ffffff;
	text-align: center;
}
#conteudo h1{
	display: block;
	margin-bottom: 20px;
	background: #000;
	font-size: 30px;
}
#conteudo h2{
	display: block;
	background: #000;
	font-size: 25px;
}
#textoprincipal{
	display: block;
	width: 810px;
	margin-left: 10px;
	text-align: justify;
}
#imgtexto{
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}
#baner img{
	margin: 0px;
	float: none;
}
#textoprincipal iframe{
	position: center;
	margin-left: 125px;
	margin-top: 5px;
}
#publicidade{
	display: block;
	width: 810px;
	height: 400px;
	margin-left: 10px;
}
#lateral{
	display: block;
	width: 385px;
	height: 385px;
	
	background: #000;
	float: left;
}
#lateral img{
	display: block;
	margin-left: 92.5px;
	margin-bottom: 6px;
}
#redesocial{
	display: block;
	width: 385px;
	height: 385px;
	background: #000;
	float: right;
}
#redesocial img{
	display: block;
	margin-left: 142.5px;
	margin-bottom: 6px;
}
#lateral ol, #redesocial ol{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#rodape{
	margin-top: 15px;
	display: block;
	width: 1200px;
	height: 30px;
	background: #000;
	color: #ffffff;
	font-size: 15px;
}
#rodape #copyright{
	display: block;
	width: 600px;
	float: left;
}
#rodape a{
	text-decoration:none;
	color:rgba(255,255,255,1.00);
	font-weight:bold;
}
#rodape #autoria{
	display: block;
	float: right;
}
#rodape #autoria img{

}
.titulo{
	display: block;
	background: #000;
	color: #ffffff;
	text-align: center;
	font-size:20px;
}
.videobloco{
	display: block;
	width: 810px;
	background: #000;
}
.titulop{
	background: #ffffff;
	display: block;
	color: #000;
	font-size:20px;
	text-align: center;
}
.ho{
	opacity: 0.8;
	transition: opacity 0.25s ease;
}
.ho:hover{
	opacity: 1;
}
.hoi{
	opacity: 1;
	transition: opacity 0.25s ease;
}	
.hoi:hover{
	opacity: 0.95;
}
.clearfix{
	clear:both;	
}
#artistas{
	display:block;
	width:810px;
	height:auto;
	margin-left:10px;
	padding-top:5px;
}
#artistas ul{
	list-style:outside;
}
#artistas ul li{
	float:left;
	width: 207px;
	height: 50px;
	margin-left:25px;
	list-style:outside;
}